@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap');

:root {
    --c-darkest: #24212A;
    --c-lightest: #FFFFFF;
    --c-red: #D72E3F;
    --c-blue: #A6CAE6;
    --c-green: #9BA551;
    --c-yellow: #F1CF3D;
    --c-brown: #BE8658;
}

html {
    font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}